<div [ngClass]="{'toolbar': true, 'disable': isUpdateFormOpened}" role="banner">
  <img
    width="40"
    alt="Juice Logo"
    src="assets/logo.svg"
  />
  <span>Juices</span>
</div>
<div [ngClass]="{'container': true, 'disable': isUpdateFormOpened}">
  <div class="wrapper">
    <app-card *ngFor="let juice of juicesList" [id]="juice.id" [title]="juice.title" [descr]="juice.descr" [img]="juice.img" (chooseUpdatedJuice)="chooseUpdatedJuice($event)" (deleteJuice)="deleteJuice($event)"></app-card>
  </div>
  <app-form [setJuicesList]="setJuicesList" (addJuice)="addJuice($event)"></app-form>
</div>
<div [ngClass]="{'diagram': true, 'disable': isUpdateFormOpened}"><img src="assets/diagram.png"></div>
<app-update *ngIf="isUpdateFormOpened" [juice]="updatedJuice" (closePopup)="closePopup()" (updated)="updateJuices()"></app-update>
