.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #caa9c6f5;
  color: white;
  font-weight: 600;
  font-size: 24px;
}

.toolbar img {
  margin: 0 16px;
}

.container {
  margin: 100px auto;
  padding: 0 50px;
  display: flex;
  justify-content: space-evenly;
}

.diagram {
  height: 900px;
  display: flex;
  justify-content: center;

  img {
    height: 100%;
  }
}
