<div class="update" *ngIf="juice">
    <button class="update-close" (click)="close()">&#10006;</button>
    <h3>Update juice information</h3>

    <input type="hidden" [(ngModel)]="juice.link">
    <div class="form-div">Title: </div>
    <input type="text" [(ngModel)]="juice.title">
    <div class="form-div">Description: </div>
    <input type="text" [(ngModel)]="juice.descr">
    <div class="form-div">Image: </div>
    <input type="text" [(ngModel)]="juice.img">
    <button class="update-button" (click)="updateJuice()">Update juice</button>
</div>
