.form-title {
    font-size: 32px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-label {
    font-size: 20px;
}

.form-input {
    width: 340px;
}

.form-message {
    margin-top: 30px;
    font-size: 16px;
}

.form-button {
    color: white;
    background-color: #caa9c6f5;
    outline: none;
    border: none;
    padding: 4px 12px;
    font-size: 24px;
    margin-top: 20px;
    cursor: pointer;
  
    &:hover {
      background-color: #caa9c694;
    }

    &:disabled {
        color: grey;
        background-color: #d0cdcf;
        cursor: default;
    }
}
